*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;

}

.container{
    height:200px;
    width: 800px;
    /* border:1px solid black; */
    justify-content: center;
    align-items: center;

}
.header{
    height:30px;
    width:800px;
    background-color: orange;
    text-align: center;
    justify-content: center;
}

.middle-fotter{
    height: 140px;
    width:800px;
    display: flex;

    
}
.first{
    height: 140px;
    width:150px;
    background-color: yellow;
    text-align: center;
}
.second{
    height: 140px;
    width: 500px;
    background-color: purple;
    text-align: center;

}
.third{
    height: 140px;
    width:150px;
    background-color: yellow;
    text-align: green;
}
.fotter{
    height:30px;
    width:800px;
    background-color: #212121;
    text-align: center;
    justify-content: center;
}

input[type='text']{
    color:red;
}
button{
    height:30px;
    width:70px;
    /* border:1px solid black; */
    font-size: 10px;
    /* padding:10px; */
    /* text-align: center; */
    outline: none;
}
button:active{
    background-color: red;
}



   